<%= simple_form_for @flat, html: { class: 'form' } do |f| %>
  <h2 class="mb-3"><%= f.object.new_record? ? 'Create a New Apartment' : 'Edit Apartment' %></h2>
  <%= f.input :name, label: 'Apartment Name' %>
  <%= f.input :address %>
  <%= f.input :description, as: :text %>
  <%= f.input :price_per_night, label: 'Price per Night (USD)' %>
  <%= f.input :number_of_guests, label: 'Number of Guests' %>
  <%= f.input :picture_url, label: 'Picture URL' %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Apartments', flats_path, class: 'btn btn-secondary mt-3' %>
