<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col">
        <div class="card mb-3">
          <img src="<%= flat.picture_url %>" alt="<%= flat.name %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.description %></p>
            <p class="card-text">Price per night: $<%= flat.price_per_night %></p>
            <p class="card-text">Number of guests: <%= flat.number_of_guests %></p>
            <%= link_to "View details", flat_path(flat), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
