<div class="container mt-5">
  <h1 class="text-center"><%= @flat.name %></h1>
  <p class="text-center"><strong>Address:</strong> <%= @flat.address %></p>
  <p class="text-center"><strong>Description:</strong> <%= @flat.description %></p>
  <p class="text-center"><strong>Price per Night:</strong> $<%= @flat.price_per_night %></p>
  <p class="text-center"><strong>Number of Guests:</strong> <%= @flat.number_of_guests %></p>

  <div class="text-center mt-4">
    <%= link_to "Edit Flat", edit_flat_path(@flat), class: "btn btn-primary" %>
    <%= link_to "Delete Flat", @flat, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>
