<div class="card">
  <img src="<%= @flat.picture_url %>" alt="<%= @flat.name %>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title"><%= @flat.name %></h5>
    <p class="card-text"><%= @flat.description %></p>
    <p class="card-text"><strong>Price per night:</strong> <%= @flat.price_per_night %> USD</p>
    <p class="card-text"><strong>Number of guests:</strong> <%= @flat.number_of_guests %></p>
    <%= link_to 'Edit Apartment', edit_flat_path(@flat), class: 'btn btn-warning' %>
    <%= link_to 'Delete Apartment', @flat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>

<%= link_to 'Back to Apartments', flats_path, class: 'btn btn-secondary mt-3' %>
